# ==========================
# Default (Linux host build)
# ==========================
build --action_env=CC=/usr/bin/clang
build --action_env=CXX=/usr/bin/clang++
build --cxxopt=-stdlib=libc++
build --linkopt=-stdlib=libc++
build --cxxopt=-std=c++20
build -s --check_visibility=false --spawn_strategy=standalone
build --verbose_failures

# ==========================
# Windows cross-compilation
# ==========================
# build:windows --platforms=//toolchains:windows_x64
# build:windows --cpu=x64_windows
# build:windows --compiler=clang
# build:windows --crosstool_top=@llvm_toolchain//:toolchain
# build:windows --cxxopt=-std=c++20
# build:windows --cxxopt=-stdlib=libc++
# build:windows --features=no_pic
# build:windows --host_cxxopt=-std=c++17


# Definition of --config=memcheck
build:memcheck --strip=never --test_timeout=3600
common --enable_bzlmod
